doctype html
html(lang='en')
  thead
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,400italic')
    link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    //
      Accord Template
      http://www.templatemo.com/tm-478-accord
    title Random Photo
  tbody
    .main-body
      .container 
        .row
          .main-page
            // content-main
            .content-main.gallery_main
              .form-group
                  a.btn.view_more(href='/') BACK
                    a(href=filename)
                      center
                          img(alt='Agra picture', filename)
                      center
                        p
                          | Photo text field
          // .main-page
        // .row
        footer.row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.footer
            p
        // .row
      // .container
    // .main-body
    // JavaScript
    script(src='js/jquery-1.11.3.min.js')
    script(src='js/bootstrap.min.js')
